@media screen and (max-width: 991px){
    .calc{
        width: 90%;
    }

    .modal-close{
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 768px){
    .calc-input{
        display: flex;
        flex-direction: column;
    }

    .calc-mark{
        height: 500px;
        margin-top: 40px;
    }

    .mark-row{
        margin:70px 10px;
    }

    .calc-content{
        width: 99%;
    }
}

// @media screen and (max-width: 576px){
//     .calc-input{
//         width: 100px;
//     }
// }