.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 50px;
  top: 50px;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-open {
  background: none;
  border: 2px solid #4a7cdb;
  color: #4a7cdb;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.calc {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.calc-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a7cdb;
}

.calc-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.calc-row_input {
  margin: 20px 10px;
  border: 2px solid #4a7cdb;
}

.calc-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #4a7cdb;
}

.calc-result {
  border: 2px solid #4a7cdb;
  border-left: none;
  padding: 10px;
  width: 75px;
}

.calc-option {
  color: #4a7cdb;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.calc-option_head {
  font-size: 36px;
  color: #4a7cdb;
}

.calc-option_mul, .calc-option_add {
  border: 2px solid #4a7cdb;
  padding: 10px 20px;
  margin: 5px;
}

.calc-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #4a7cdb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  border-right: none;
  margin-top: 7px;
}

.calc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mark-row {
  margin: 25px 10px;
}

.bg-green {
  background: #38cd4f;
}

.results-row_one::before {
  content: "Results \a";
  text-decoration: underline;
  color: #4a7cdb;
  position: relative;
  font-size: 26px;
  bottom: 50px;
}
/*# sourceMappingURL=style.css.map */